﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ControlSecretaria.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Mi aplicación ASP.NET</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Scripts/all.css" rel="stylesheet" />
   <script src="../../Scripts/vue.js"></script>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="padding-top: 0px;">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <div id="vueTests">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="cursor:pointer;">
                <a class="navbar-brand" runat="server" href="~">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" v-for="modulo in modulos">
                            <a class="nav-link dropdown-toggle" runat="server" v-bind:href="modulo.enlace" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{modulo.nombre}}
                            </a>
                            
                            <div class="dropdown-menu" v-if="modulo.opciones" aria-labelledby="navbarDropdownMenuLink" >                                
                                <a class="dropdown-item"  v-for="opcion in modulo.opciones"  v-bind:href="'http://localhost:35451/'+opcion.enlace">{{opcion.nombre}}</a>        
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Mi aplicación ASP.NET</p>
            </footer>
        </div>

    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            //$.getJSON("", function (result) {
            //    console.log(result);
            //    sortData(result.d);
            //  });
            
            $.ajax({
                type: "GET",
                url: "http://localhost:35451/Controllers/Modulos.aspx/listaModulos",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) { sortData(data.d); },
                error: function (data) { console.log(data) }
            });
            
            
        });
        
        function sortData(datos) {
            console.log(datos)
            //console.log(datos[0].nombre_certificador)
            var example1 = new Vue({
                el: '#vueTests',
                data: {
                    modulos: datos
                }
            })
        }

        function toastrs(mensaje, tipo) {
            
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "5000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            //if (!showToastrs) {
            //if(tipo == 'Error')
            switch (tipo) {
                case 'Error': toastr["error"](mensaje + "");
                    break;
                default: toastr["success"](mensaje + ""); break;
            }

            //toastr.error(mensaje, 'Error');
            //else

            //toastr.success(mensaje, 'correcto');
            //} else {
            //}
        }
    </script>
</body>
</html>
